<div class="container mt-4">
  <div id="messages">
    <%= render @chat_room.messages %>
  </div>

  <div class="input-group mt-3">
    <input type="text" id="message-input" class="form-control" placeholder="Type a message..." />
    <button class="btn btn-primary" id="send-button">Send</button>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const roomId = <%= @chat_room.id %>;

    const chatChannel = consumer.subscriptions.create(
      { channel: "ChatRoomChannel", room_id: roomId },
      {
        received(data) {
          console.log("Message received", data);
        },
        speak(message) {
          this.perform("speak", { message: message, room_id: roomId });
        }
      }
    );

    document.getElementById("send-button").addEventListener("click", () => {
      const input = document.getElementById("message-input");
      const msg = input.value.trim();
      if (msg.length > 0) {
        chatChannel.speak(msg);
        input.value = "";
      }
    });
  });
</script>
